.navegacao{

    background: #73AD21;
    padding: 20px;
    width: 2000px;
    height: 70px;
    position: absolute;
    top: 0px;

    color: rgb(0, 0, 0);
}

a:hover{
    color: aqua;
}

h3{
    padding: 60px 0 0 35px;
}